*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.button{
  border: 1px solid black;
  padding: 10px;
  border-radius: 20px;
}

h2{
  font-size: 2.5em;
}

/* HEADER */
.top-menu{
  background-color: #255EE9;
  padding: 20px 0;
}

.box-menu{
  background-color: #255EE9;
  max-width: 1200px;
  margin: 0 auto;
  height: 30px;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box-menu ul{
  list-style-type: none;
  display: flex;
}

.box-menu li{
  padding: 0 20px;
  color: white;
}

.box-menu span{
  background-color: white;
}

.jumbotron{
  background-image: url("../img/img/jumbo.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 120px 0;
}

.top-box{
  max-width: 800px;
  width: 90%;
  margin: 0 auto;
}

.top-text{
  color: white;
  text-align: center;
}

h1{
  font-size: 3em;
  padding: 20px;
}

.top-text p, .top-button span{
  font-size: 1.3em;
}

.top-button{
  display: flex;
  justify-content: center;
  padding: 20px;
}

.top-button span{
  margin: 0 10px;
}

.download-button{
  background-color: white;
}

.open-button{
  color: white;
  background-color: rgba(27, 26, 26);
}

/* MAIN */
.box{
  padding: 30px 0;
}

.box-color{
  background-color: gray;
}

.image-text-block, .text-image-block{
  max-width: 1200px;
  width: 80%;
  margin: 70px auto;
  display: flex;
  justify-content: center;
}

.image-box{
  width: 70%;
}

.text-box{
  text-align: left;
  width: 30%;
}

.title{
  padding: 20px 0;
}

.text{
  line-height: 20px;
}

.main-bottom-block{
  max-width: 1200px;
  width: 98%;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.technology-text{
  max-width: 900px;
  width: 98%;
  text-align: center;
}

.technology-text h2{
  padding: 20px;
}

.text-star{
  background-image: url("../img/img/stars.svg");
  padding: 30px 0;
}

.bottom-download{
  color: white;
  background-color: rgb(137, 109, 238);
}

/* FOOTER */
.info-block, .fondo{
  background-color: black;
}

.info-block{
  padding: 20px 0;
}

.column-box{
  height: 500px;
  max-width: 1200px;
  width: 98%;
  margin: 0px auto; 
  display: flex;
  justify-content: center;
}

.social{
  width: 25%;
}

.elenco{
  width: 15%;
}

h3{
  font-size: 2em;
}

h3, #little-title{
  color: #4771db;
}

.language{
  padding: 10px 0;
}

.icons, .language{
  color: white;
}

.elenco ul{
  list-style-type: none;
  line-height: 30px;
}

.elenco li{
  color: white;
}

.fondo-box{
  background-color: aquamarine;
  height: 70px;
  width: 98%;
  max-width: 1200px;
  margin: 0 auto; 
  padding: 30px 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bottom-logo, .bottone{
  background-color: pink;
  border: 2px dashed black;
  padding: 10px;
}







